[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
mlflow = "*"
boto3 = "*"
flask = "*"
psycopg2-binary = "*"
evidently = "*"
prefect = "*"
pytz = "*"
python-dotenv = "*"

[dev-packages]
boto3-stubs = {extras = ["s3"], version = "==1.34.140"}
black = "*"
isort = "*"
pylint = "*"
pre-commit = "*"
terraform-local = "*"
python-hcl2 = "*"
ipykernel = "*"
prefect = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
